.App {
  text-align: center;
  background-color: #282c34;
  min-height: auto;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row{
  display: flex;
  color:#FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border: #FFFFFF 4px solid;
}

.loading{
  color: #FFFFFF;
  font-size: large;
  font-weight: bolder;
}

.img{
  width: 12%;
  margin: 25px;
}

.moreInfo{
  display: flex;

  margin: 25px;
  flex-direction: column;
  justify-content: flex-start;
}

.name{
  margin: 0;
  text-align: left;
}

.description{
  text-align: left;
  margin-bottom: 5px;
}

.bottomInfo{
  display: flex;
  align-items: center;
}

.infoWithBorder{
  border: #FFFFFF 2px solid;
  padding: 5px;
  margin-right: 10px;
}

.button{
  border: #FFFFFF 2px solid;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  cursor: pointer;
}